@charset "UTF-8";

/* CSS for albumlistpage */
#albumlist {
	width: 250px;
}

/* CSS for the returnbutton */
#returnbutton {
	margin: 10px;
}

/* CSS for Add & Edit thymeleaf pages */
#h1div {
	padding: 5px;
	padding-top: 20px;
}

#editformdiv {
	padding: 10px;
}

/* CSS for login page and login buttons */
#logindiv {
    max-width: 200px;
    padding: 15px;
    margin: 0 auto;
    text-align: right;
}

#loginpagediv {
	max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#backgroundcolorlogin {
	background-color: #eee;
}

#logininput {
	margin-top: 10px;
	margin-bottom: 10px;
}

#loginbutton {
	width: 100%;
}

#loginguestdiv {
	margin-top: 20px;
}

/* Not sure what for */
#addstuffdiv {
	height: 60px;
}

.divcentering {
	margin: auto;
}