@charset "UTF-8";
#albumlist {
	width: 250px;
}

.divcentering {
	margin: auto;
}

#h1div {
	padding: 5px;
	padding-top: 20px;
}

#editformdiv {
	padding: 10px;
}

#returnbutton {
	margin: 10px;
}

#logindiv {
    max-width: 200px;
    padding: 15px;
    margin: 0 auto;
    text-align: right;
}

#loginpagediv {
	max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#logininput {
	margin-top: 10px;
	margin-bottom: 10px;
}

#loginbutton {
	width: 100%;
}

#loginguestdiv {
	margin-top: 20px;
}

#backgroundcolorlogin {
	background-color: #eee;
}

#addstuffdiv {
	height: 60px;
}