<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Album add</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
		<link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{css/style.css}" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/index">Music DB</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link"href="/musiclist">Musiclist</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/albumlist">Albumlist</a></li>
					<li class="nav-item"><a class="nav-link" href="/listsongs">Songlist</a></li>
				</ul>
				<a th:inline="text" id="usernametext">Welcome
					[[${#httpServletRequest.remoteUser}]]</a>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
				</form>
			</div>
		</div>
	</nav>
		<div id="h1div" class="d-flex justify-content-center">
			<h1>Add Album</h1>
		</div>
		<div id="editformdiv" class="d-flex justify-content-center">
			<form th:object="${album}" th:action="@{savealbum}" action="#" method="post">
			
				<label for="albumname">Name</label>
				<input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{name}" />
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="artist">Artist</label>
				<input type="text" class="form-control" id="exampleFormControlInput1"  th:field="*{artist}" />
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="albumgenre">Genre</label>
				<input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{genre}"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="albumreleaseyear">Year</label>
				<input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{releaseyear}" />
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="albumartlink">Album Art</label> <input type="text" class="form-control"
				id="exampleFormControlInput1" th:field="*{albumart}" />
			<div style="clear: both; display: block; height: 10px;"></div>
				
				<input type="submit" value="Save" class="btn btn-success"></input>
				<a href="/musiclist" class="btn btn-primary" id="returnbutton">Cancel</a>
			</form>
		</div>
	</body>
</html>