<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Albumlist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
		<link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{css/style.css}" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/index">Music DB</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link"href="/musiclist">Musiclist</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/albumlist">Albumlist</a></li>
					<li class="nav-item"><a class="nav-link" href="/listsongs">Songlist</a></li>
				</ul>
				<a th:inline="text" id="usernametext">Welcome
					[[${#httpServletRequest.remoteUser}]]</a>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
				</form>
			</div>
		</div>
	</nav>
		<div class="container" id="topbarmargin">
			<div class="col-md-4">
				<h1>Albums</h1>
			</div>
			<div class="col-md-4">
				<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
			</div>
			<div class="col-md-4" style="padding:20px 0">
			</div>
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Release Year</th>
					<th></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>
				<tr th:each="album : ${albums}">
					<td th:text="${album.name}"></td>
					<td th:text="${album.artist}"></td>
					<td th:text="${album.genre}"></td>
					<td th:text="${album.releaseyear}"></td>
					<td><a th:href="@{/albumedit{id}(id=${album.albumid})}" class="btn btn-primary">Edit</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/albumdelete/{id}(id=${album.albumid})}" class="btn btn-xs btn-danger">Delete</a></td>
				</tr>
			</table>
			<a href="/addalbum" class="btn btn-dark">Add Album</a>
			<p>Want to add a song <a href="/songlist" class="btn btn-primary">Go to Song page</a></p>
		</div>
	</body>
</html>