<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Song database</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/index">Music DB</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/musiclist">Musiclist</a></li>
					<li class="nav-item"><a class="nav-link" href="/albumlist">Albumlist</a></li>
					<li class="nav-item"><a class="nav-link" href="/listsongs">Songlist</a></li>
				</ul>
				<a th:inline="text" id="usernametext">Welcome
					[[${#httpServletRequest.remoteUser}]]</a>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
				</form>
			</div>
		</div>
	</nav>
	<div class="d-flex justify-content-center" id="topbarmargin">
		<h1>Welcome to the Song database</h1>
	</div>
	<div class="d-flex justify-content-center">
		<div class="indexcenter">
			<p>
				Log in <a th:href="@{/login}">here</a> to make changes to the
				database
			</p>
			<br>

			<p>If you don't want to make changes:</p>
			<p>
				Click <a th:href="@{/musiclistguest}">here</a> to see the list of
				albums & songs
			</p>
		</div>
	</div>
</body>
</html>